{% extends "base.html" %}

{%block content%}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Checkout</h1>
            <!--<p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>-->
        </div>
    </div>
</header>
<div class='container'>
    <div class='row'>
        <div class='col-md-6 offset-md-3'>
            <div class="card">
                <div class="card-header">
                  Order Summary
                </div>
                <div class="card-body">
                    {%if cart_products%}
                    {%for product in cart_products%}
                    <strong>
                    {{product.name}}:
                    </strong>
                    {{product.price}}zł
                    <small>
                    Quantity:                   
                    {%for key,value in quantities.items%}
                    {% if key == product.id|slugify%}
                    {{value}}
                    <br>
                    </small>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    <br>
                    <strong>
                        <h5>Total: {{totals}}zł</h5>
                    </strong>
                    {%endif%}
                </div>
            </div>
            <br></br>
            <div class="card">
                <div class="card-header">
                    Shipping Info
                    </div class="card-body">
                        <form  method="POST" action="{%url 'billing_info'%}">
                            {% csrf_token %}
                            {{shipping_form.as_p}}
                            
                    </div>
                </div>
            </div>
            <center>
                <br></br>
            <button type='submit' class='btn btn-secondary'>Payment</button>
            </form>
            </center>
            <br></br><br></br><br></br>
        </div>
        
    </div>   
</div>

            

{%endblock%}
