{% extends "base.html" %}

{%block content%}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">O projekcie</h1>
        </div>
    </div>
</header>
<div class='container'>
    <div class='row'>
        <center>
            <br></br>
            <div class='col-8'>
                <h2>Projekt na zajęcia "Projektowanie Oprogramowania" wykonany przez: Mikołaj Klima, Samuel Argasiński, Igor Korab</h2>
            </div>
        </center>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br> <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
    </div>
</div>
{% endblock %}